<div data-ng-controller="CartrackController">
    <tabset>
        <tab heading="Example">
            <h2>Map</h2>
            <div class="col-md-4 col-lg-8 example-block alt">
                <div class="span3 bs-docs-sidebar">
                    <div class="angular-google-map-container">
                        <div id="gmap">
                            <google-map center="mymap.center" zoom="mymap.zoom" draggable="true" dragging="mymap.dragging">
                                <marker pan="true" idKey='$index' data-ng-repeat="gmarker in markers" coords="gmarker.coords" ></marker>
                                <polyline
                                        data-ng-repeat=" p in DrawLine.pathCords track by $index" path="p"
                                        stroke="DrawLine.stoke"
                                        clickable="DrawLine.clickable"
                                        draggable="DrawLine.draggable"
                                        editable="DrawLine.editable"
                                        geodesic="DrawLine.geodesic"
                                        visible="DrawLine.visible"
                                        fit="DrawLine.fit"
                                        static="DrawLine.static">
                                </polyline>
                            </google-map>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>


